*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: 'Roboto Mono';

}
.barranav{
    background-color: red;
    display: flex;
    width: 100%;
    align-items: center;
    position: fixed;    
}
.botonera{
    width: 100%;
}
.titulopagina{
    max-width: 100%;
    max-height: 100%;
    display: inline;
    margin: 0;
}
.imgbarranav{
    width: 300px;
}
main{
    padding-top: 15rem;
    padding-bottom: 3rem;
    text-align: center;
    section{
        padding: 20px auto;
        margin: 20px auto;
        h2{
            color: red;
            text-decoration: underline red solid;
        }
    }
    h2{
        font-size: 3rem;
    }
    img{
        width: 300px;
        text-align: center;
    }
    .producto{
        z-index: -1;
       
    }
    .imgprod{
        width: 300px;
        margin: 0 auto;
        text-align: center;
    }
    p{
        width: 85%;
        max-width: 1500px;
        margin: 50px auto;
    }
}
.logoinsta{
    width: 75px;
}
.cuadrocontacto{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "nombre dejecomentario mapa"
    "apellido dejecomentario mapa"
    "e-mail dejecomentario mapa ";
    align-items: center;   
}
.nombre{
    grid-area: nombre;
    max-width: 100%;
    height: auto;
}
.apellido{
    grid-area: apellido;
    max-width: 100%;
    height: auto;

}
.e-mail{
    grid-area: e-mail;
    max-width: 100%;
    height: auto;
}
.dejecomentario{
    grid-area: dejecomentario;
    max-width: 100%;
    height: auto;
}
.mapa{
    grid-area: mapa;
    max-width: 100%;
    height: auto;
}

footer{
    background-color: red;
    text-align: center;
    padding: 3rem;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;   
}
@media screen and (max-width:768px){
    .cuadrocontacto{
        .mapatamaño{
            width: 100vw;
            height: 100vh;
        }
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        "nombre"
        "apellido"
        "e-mail"
        "dejecomentario"
        "mapa";
        align-items: center;   
    }
}


