footer{
    background-color: $rojo;
    text-align: center;
    padding: 3rem;
    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: space-around;
        flex-wrap: wrap;
        .texto.footer{
            .logoinsta{
                width: 50%;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
        }
    }
    .wpfoto{
        height: 50px;
    }
    }
}