header{
    .barranav{
        background: linear-gradient($negro, $rojo, $negro);
        display: flex;
        width: 100%;
        align-items: center;
        position: fixed;
        .fotonav{
            .imgbarranav{
                width: 300px;
                border-radius: 20%;
            }
        }
        .botonera{
            width: 100%;
            li{
                margin: 3px;
            }
        }   
    }
}