@import "var";
@import "body";
@import "header";
@import "main";
@import "footer";

@media screen and (max-width:700px){
    header{
        .barranav{
            display:block;
            .fotonav{
                display: flex;
                justify-content: center;
                align-items: center;
                .imgbarranav{
                    width: 50%;
                }
            }   
        }
    }
    .cuadrocontacto{
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        "nombre"
        "apellido"
        "e-mail"
        "dejecomentario"
        "mapa";
        align-items: center;
        .mapatamaño{
            width: 100vw;
            height: 100vh;
            }   
    }
    .footer-content {
        flex-direction: column;
        text-align: center;
  
        .footer-left,
        .footer-right {
          flex: none;
          width: 100%;
          justify-content: center;
          padding: 0.5rem 0;
        }
        
        .footer-center {
          margin: 1rem 0;
        }
      }
}
